
<div class="centered">
    <div class="content">
        <div class="row">
            <img src="../../tree-svgrepo-com.svg" class="tree-icon">
            <p>Forest size</p>
            <input  type="number" 
                    id="width"
                    name="width"
                    required
                    min="1"
                    max="100"
                    value="15"
                    [(ngModel)]="grid_width"
                    (ngModelChange)="reinitializeGrid()"/>
            <input  type="number" 
                    id="height"
                    name="height"
                    required
                    min="1"
                    max="100"
                    value="15"
                    [(ngModel)]="grid_height"
                    (ngModelChange)="reinitializeGrid()"/>
        </div>
        <div class="row">
            <img src="../../settings-svgrepo-com.svg" class="settings-icon">
            <div class="frame">
                <p>Simulation steps (s)</p>
                <input  type="number" 
                        id="step"
                        name="step"
                        required
                        min="0.1"
                        max="1"
                        value="0.5"
                        step="0.1"
                        [(ngModel)]="simul_step"/>
                <p>Propagation probability</p>
                <input  type="number" 
                        id="prob"
                        name="prob"
                        required
                        min="0"
                        max="1"
                        value="0.5"
                        step="0.05"
                        [(ngModel)]="propag_prob"/>
                <p>Simulation strategy</p>
                <select [(ngModel)]="strategy">
                    <option value="all_or_nothing">All or nothing</option>
                    <option value="by_neighbour">By neighbour</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row-elements">
        <div><span class="legend-color empty"></span> Empty</div>
        <div><span class="legend-color burning"></span> Burning</div>
        <div><span class="legend-color extinct"></span> Extinct</div>
    </div>

    <div class="row-elements">
        <span>Auto-simulate</span>
        <label class="switch">
            <input  type="checkbox"
                    [(ngModel)]="autoSimulate">
            <span class="slider round"></span>
        </label>
    </div>

    <div class="row-elements">
        <div *ngIf="autoSimulate">
            <button class="cssbuttons-io-button" (click)="startStopAutoSimulation()">
                Start/Stop simulation
                <div class="icon">
                    <svg
                    height="24"
                    width="24"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    >
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                        fill="currentColor"
                    ></path>
                    </svg>
                </div>
            </button>
        </div>

        <div *ngIf="!autoSimulate">
            <button class="cssbuttons-io-button" (click)="nextStepSimulation()">
                Next Step
                <div class="icon">
                    <svg
                    height="24"
                    width="24"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    >
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                        fill="currentColor"
                    ></path>
                    </svg>
                </div>
            </button>
        </div>

        <!-- Add a label to track the current step -->
        <div class="step-label">
            Current step: {{ currentStep }}
        </div>
    </div>

    <div class="content">
        <div class="forest-grid">
            <div *ngFor="let row of grid; let y = index" class="grid-row" [style.grid-template-columns]="'repeat(' + row.length + ', 1fr)'">
                <div
                *ngFor="let cell of row; let x = index"
                class="cell"
                [style.width]="cellSize"
                [style.height]="cellSize"
                [class.empty]="cell === 0"
                [class.burning]="cell === 1"
                [class.extinct]="cell === 2"
                (click)="toggleFire(y, x)"
                >
                <!-- Optional: Display coordinates for debugging -->
                <!-- {{ x }},{{ y }} -->
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="simulationEnded" class="simulation-content">
        <p>Simulation ended after {{ currentStep }} steps.</p>
    </div>
</div>